@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
h1 {
	padding: 30px 30px 20px 30px;
	font-family: "Playfair Display", serif;
	font-size: 40px;
	font-weight: 500;
}

.nav-item {
	font-size: 15px;
	padding: 2rem;
	font-family: "Playfair Display", serif;
	font-weight: 400;
}
.nav-link {
	color: black;
}

.nav-link:hover{
	color: #a4a4a4;
}

.icon {
	color: white;
	font-size: 15px;
	padding-right: 10px;
}
.icon:hover	{
	color: #C4C4C4;	
}
.d-flex {
	height: 40px;
	display:flex;
	justify-content: right;
	align-items: center;
	background-color: black;
}

.login-link {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	padding-right: 15px;
}

.login-link:hover {
	color: #d4d4d4;
	text-decoration: none;
}
.carousel-inner {
	padding: 1em 4em;
}
