body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  min-height: 85vh;
}

.box {
  display: flex;
  width: 100%;
  align-content: center;
}
.push {
    margin-left: auto;
}
.login-link {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: black;
	padding-right: 15px;
  text-decoration: none;
}
.login-link:hover {
	color: #333333;
  text-decoration: underline;
}
.icon {
	color: darkgrey;
	font-size: 15px;
	padding-right: 10px;
}
.icon:hover	{
	color: #333333;	
}

h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}

p {
  font-size: 18px;
}
.carousel-indicators { 
  visibility: hidden; 
}

h6 {
  font-family: sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: #5a5a5a;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: #5a5a5a;
}

.form-control {
    border: 0;
}

.form-control {
  border-top-style: hidden;
        border-right-style: none;
        border-left-style: hidden;
        border-bottom-width: 3px;
        background-color: #eee;
}
.search-container {
  width: 400px;
  margin: 0 auto;
}
.search-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search-container input:focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
